.img-fluid {
  width: 100%;
  height: auto;
}

.bg-principal {
  background-color: cadetblue;
}

.p20 {
  padding: 20px;
}

.m20 {
  margin: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.txt-center {
  text-align: center;
}

.prod {
  background-color: rgba(170, 170, 204, 0.8);
  border: 1px solid #aacc11;
  border-radius: 20px;
  padding: 10px;
}

.gridMainProductos div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* GENERAL */
header {
  background-color: #aacc99;
}
header nav.barra {
  padding: 10px;
}
header nav.barra ul {
  display: flex;
}
header nav.barra ul li {
  list-style-type: none;
}
header nav.barra ul li a {
  text-decoration: none;
  font-size: 1.7rem;
  font-family: "tahoma";
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 1px;
  padding-right: 0;
}
header nav.barra ul li a:hover {
  color: red;
}

/* MOBILE */
@media (max-width: 768px) {
  header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    display: flex;
    padding: 0;
  }
  a {
    color: black;
    font-size: 22px;
    padding: 5px;
    margin: 5px;
  }
  p {
    font-size: 22px;
  }
  .gridMainProductos {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
/* DESKTOP */
@media (min-width: 1024px) {
  /* GRID INDEX */
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  header, footer, ul {
    display: flex;
  }
  main {
    display: grid;
    grid-template-areas: "pepe pepe pepe" "titulo titulo titulo" "pIzq imgTxt pDer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .imgPrincipal {
    grid-area: pepe;
  }
  .titulo {
    grid-area: titulo;
  }
  .parrafoIzq {
    grid-area: pIzq;
  }
  .imgTexto {
    grid-area: imgTxt;
  }
  .parrafoDer {
    grid-area: pDer;
  }
  .just-content-spa-betw {
    justify-content: space-between;
  }
  .align-items-center {
    align-items: center;
  }
  a {
    color: black;
    font-size: 28px;
    padding: 5px;
    margin: 10px;
  }
  p {
    font-size: 30px;
  }
  /* GRID MAIN PRODUCTOS */
  .gridMainProductos {
    display: grid;
    grid-template-areas: "titulo titulo titulo titulo" "prodA prodB prodC prodD";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 10px;
  }
  .tituloProdu {
    grid-area: titulo;
  }
  .prodA {
    grid-area: prodA;
  }
  .prodB {
    grid-area: prodB;
  }
  .prodC {
    grid-area: prodC;
  }
  .prodD {
    grid-area: prodD;
  }
}
/* TABLET */
@media (min-width: 769px) and (max-width: 1023px) {
  body {
    background-color: yellowgreen;
  }
}
div {
  width: 102%;
  height: 102px;
}

@body {
  background-color: yellow;
}
.margin-1 {
  margin: 10px;
}

.margin-2 {
  margin: 20px;
}

.margin-3 {
  margin: 30px;
}

.margin-4 {
  margin: 40px;
}

.margin-5 {
  margin: 50px;
}

.padding-bottom-1 {
  padding-bottom: 10px;
}

.padding-bottom-2 {
  padding-bottom: 20px;
}

.padding-bottom-3 {
  padding-bottom: 30px;
}

.padding-bottom-4 {
  padding-bottom: 40px;
}

.padding-bottom-5 {
  padding-bottom: 50px;
}

.text-white {
  color: white;
}

.text-#aacc99 {
  color: #aacc99;
}

.text-orange {
  color: orange;
}

.p-desktop {
  font-size: 3rem;
}

.p-mobile {
  font-size: 1.5rem;
}

.p-tablet {
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
  color: blue;
  font-family: "tahoma";
}

.boton, .boton-primario, .boton-advertencia, .boton-error, .boton-exito {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.boton-exito {
  background-color: green;
  color: #fff;
  border: 1px solid limegreen;
}

.boton-error {
  background-color: red;
  color: black;
  border: 1px solid lightsalmon;
}

.boton-primario {
  background-color: aqua;
  color: blue;
  border: 1px solid blueviolet;
}

ul, footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gridMain {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, auto);
}

/*# sourceMappingURL=style.css.map */
