// :root{--nombreVariable:valor;}

//para declarar y definir una variable usamos -> $nombreVariable:valor;
//COLORES
$colorPrincipal:#aacc11;
$colorSecundario:#aacc;
$colorTerciario: #aacc99;
$negro:#000;
$blanco: #fff;

//tamaños de fuente
$pDesktop:1.7rem;
$pMobile:1.3rem;
$hDesktop:3rem;
$hMobile:2rem;
